@media screen and (max-width:1024px) {
/* --------------------- css ---------------------------- */
#wrap{ position: relative; width: 100%; max-width:1024px; margin: 0 auto; overflow: hidden; font-family: 'Roboto', 'SUIT'; font-size:0}
html,body{overflow:hidden;}
html.on{overflow-y:scroll;}
.inner{width: 100%; margin: 0 auto; max-width:100%; padding: 0 2.6%}
header{position:fixed; width:100%; height: 70px; z-index: 1000; background-color: #000; mix-blend-mode: difference;}
header .inner{position:relative; height:100%;}
header h1{position:absolute; left: -50px; top:50%; transform: translateY(-50%); opacity: 0; transition:1s ease-in-out;}
header h1 a{display: block; font-size: 20px; color:#fff; font-weight: 700;}
header nav{position:Absolute; display: none; right: -50px; opacity: 0; bottom: 0;transition:1s ease-in-out;}
header nav ul{display: flex;}
header nav ul li{margin-right: 60px;}
header nav ul li:last-child{margin-right: 0;}
header nav ul li a{display: block; line-height: 80px; font-size: 16px; color:#fff; font-weight: 500;}
header nav ul li a span{position:Relative;}
header nav ul li a span:after{content:''; position:absolute; left: 0; bottom: 0; width: 0; height:1px; background-color: #fff; transition: 0.3s ease-in-out;}
header nav ul li.on a span:after{width:100%;}
header .navi_btn{position: absolute; display: flex; align-items: center; width: 30px; height: 26px; right: -50px; top: 0; bottom: 0; margin: auto 0; opacity: 0; transition:1s ease-in-out;}
header .navi_btn .line{width: 100%; height: 2px; background-color:#fff;}
header .navi_btn .line:before{content: ''; position: absolute; width: 100%; height: 2px; background-color:#fff; right: 0; bottom: 0;}
header .navi_btn .line:after{content: ''; position: absolute; width: 100%; height: 2px; background-color:#fff; right: 0; top: 0;}
header.on h1{opacity: 1; left: 2.6%;}
header.on nav{opacity: 1; right: 0;}
header.on .navi_btn{opacity: 1; right: 2.6%;}

.navigation_wrap{position:fixed; display: none; z-index: 2000; width:100%; height:100%;}
.navigation{position:absolute; right:0; top: 0; width:50%; height:100%; background-color: #fff; padding-top: 70px; transform: translateX(100%); transition:0.5s; z-index: 10;}
.navigation .navi_close{position: absolute; display: flex; align-items: center; width: 30px; height: 26px; right: 5.2%; top: 22px; bottom: 0;}
.navigation .navi_close .line:before{content: ''; position: absolute; width: 100%; height: 2px; background-color:#222; right: 0; bottom: 1.5px; transform: rotate(45deg); transform-origin: right bottom;}
.navigation .navi_close .line:after{content: ''; position: absolute; width: 100%; height: 2px; background-color:#222; right: 0; top: 1.5px; transform: rotate(-45deg); transform-origin: right top; top:1.5px}
.navigation nav{border-top: 1px solid #ddd;}
.navigation nav ul li{height:50px; border-bottom: 1px solid #ddd; transition:0.3s ease-in-out;}
.navigation nav ul li a{display: block; line-height: 49px; font-size: 18px; color:#222; font-weight: 500; padding:0 5.2%; transition:0.3s ease-in-out;}
.navigation nav ul li.on{background-color: #222; border-bottom:1px solid #222;}
.navigation nav ul li.on a{color:#fff;}
.navigation_bg{position:absolute; width:100%; height:100%; left: 0; top: 0; background-color: rgba(0,0,0,0.4);}
.navigation_wrap.on .navigation{transform: translateX(0)}

h2.main_tit{font-size: 50px; font-weight: 700; line-height: 1; color:#222;}
.section01{position:Relative; height: 400px;  transition:0.5s ease-in-out; z-index: 10;mix-blend-mode: difference;}
.section01 em{position:relative; display: block; left: 1100px; top:0; width:100%; height:400px; line-height:400px; font-size: 120px; transform: scale(25); font-weight: 900; color:#ddd; text-align: center;}
.section01 em span{display: inline-block;}
.section01 em.on{left: 0; transform:scale(1); transition:2s ease-in-out;}
.section01.off{opacity: 0; visibility: hidden;}

.section02{position:Relative; height: auto; padding: 100px 0; background-color: #222;}
.section02 h2.main_tit{color:#fff;}
.section02 .txt_wrap{position:relative; display: flex; align-items: center; left: 0; top: 0; width: 100%; height: auto; visibility: visible; opacity: 1; transition:0.5s;}
.section02 .txt_wrap .txt{position:relative; left: 0;  transition:0.5s ease-in-out;}
.section02 .txt_wrap .txt em{display: block; font-size: 25px; line-height: 40px; margin-top: 30px; font-weight: 500; color:#fff;}
.section02 .txt_wrap .txt em span{border-bottom:1px solid #fff;}
.section02 .txt_wrap .txt p{font-size: 18px; line-height: 30px; margin-top: 20px; color:#fff;}
.section02 .txt_wrap .txt p span{font-weight: 700;}
.section02.on .txt_wrap{opacity: 1; visibility: visible;}
.section02.on .txt_wrap .txt{left: 0;}
.section02.off .txt_wrap{position:relative; left: 0; top: auto; bottom: 0;}

.section03{position:Relative; height: auto; padding: 100px 0;}
.section03 .txt_wrap{position:relative; display: flex; flex-direction:column; justify-content: center; left: 0; top: 0; width: 100%; height: auto; visibility: visible; opacity: 1; transition:0.5s;}
.section03 .horizental_wrap{position:relative; height: 140px; margin-bottom: 30px;top: 0; transition:0.5s ease-in-out;}
.section03 .horizental_txt{position:absolute; animation: marquee01 20s linear infinite;}
.section03 .horizental_txt:nth-child(1){left: 0; top: 0; width:4216px;}
.section03 .horizental_txt:nth-child(2){right: 0; top: 70px; width:5110px; animation: marquee02 20s linear infinite;}
.section03 .horizental_txt p{float: left; font-size: 70px; color:#222; font-weight: 500; line-height: 1;}
.section03 .txt_wrap .txt{position:Relative; bottom: 0; transition:0.5s ease-in-out;}
.section03 .txt_wrap .txt em{display: block; font-size: 25px; line-height: 40px; margin-top: 30px; font-weight: 500; color:#222;}
.section03 .txt_wrap .txt em span{border-bottom:1px solid #222;}
.section03 .txt_wrap .txt p{position:relative; font-size: 18px; line-height: 30px; margin-top: 10px; padding-left: 15px; color:#222;}
.section03 .txt_wrap .txt p:before{content:''; position:absolute; left: 0; top: 12px; width:5px; height: 5px; border-radius:50%; background-color: #222;}
.section03 .txt_wrap .txt p:nth-of-type(1){margin-top: 20px;}
.section03 .txt_wrap .txt p span{font-weight: 700;}
.section03.on .txt_wrap{opacity: 1; visibility: visible;}
.section03.on .horizental_wrap{top:0;}
.section03.on .txt_wrap .txt{bottom:0;}
.section03.off .txt_wrap{position:relative; left: 0; top: auto; bottom: 0;}

.section04{position:Relative; height: auto; padding: 100px 0; background-color: #222;}
.section04 h2.main_tit{color:#fff;}
.section04 .txt_wrap{position:relative; display: flex; flex-direction:column; justify-content: center; left: 0; top: 0; width: 100%; height: auto; visibility: visible; opacity: 1; transition:0.5s;}
.section04 .horizental_wrap{position:relative; height: 140px; margin-bottom: 30px; top: 0; transition:0.5s ease-in-out;}
.section04 .horizental_txt{position:absolute; animation: marquee01 20s linear infinite;}
.section04 .horizental_txt:nth-child(1){left: 0; top: 0; width:4906px;}
.section04 .horizental_txt:nth-child(2){right: 0; top: 70px; width:4430px; animation: marquee02 20s linear infinite;}
.section04 .horizental_txt p{float: left; font-size: 70px; color:#fff; font-weight: 500; line-height: 1; margin-right: 10px;}
.section04 .txt_wrap .txt{position:Relative; bottom: 0; transition:0.5s ease-in-out;}
.section04 .txt_wrap .txt em{display: block; font-size: 25px; line-height: 40px; margin-top: 30px; font-weight: 500; color:#fff;}
.section04 .txt_wrap .txt em span{border-bottom:1px solid #fff;}
.section04 .txt_wrap .txt p{position:relative; font-size: 18px; line-height: 30px; margin-top: 10px; padding-left: 15px; color:#fff;}
.section04 .txt_wrap .txt p:before{content:''; position:absolute; left: 0; top: 12px; width:5px; height: 5px; border-radius:50%; background-color: #fff;}
.section04 .txt_wrap .txt p:nth-of-type(1){margin-top: 20px;}
.section04 .txt_wrap .txt p span{font-weight: 700;}
.section04.on .txt_wrap{opacity: 1; visibility: visible;}
.section04.on .horizental_wrap{top:0;}
.section04.on .txt_wrap .txt{bottom:0;}
.section04.off .txt_wrap{position:relative; left: 0; top: auto; bottom: 0;}

.section05{position:Relative; height: auto; padding: 100px 0;}
.section05 .txt_wrap{position:relative; display: flex; flex-direction:column; justify-content: center; left: 0; top: 0; width: 100%; height: auto; visibility: visible; opacity:1; transition:0.5s;}
.section05 .horizental_wrap{position:relative; height: 140px; margin-bottom: 30px; top: 0; transition:0.5s ease-in-out;}
.section05 .horizental_txt{position:absolute; animation: marquee01 20s linear infinite;}
.section05 .horizental_txt:nth-child(1){left: 0; top: 0; width:4791px;}
.section05 .horizental_txt:nth-child(2){right: 0; top: 70px; width:4563px; animation: marquee02 20s linear infinite;}
.section05 .horizental_txt p{float: left; font-size: 70px; color:#222; font-weight: 500; line-height: 1; margin-right: 10px;}
.section05 .txt_wrap .txt{position:Relative; bottom: 0; transition:0.5s ease-in-out;}
.section05 .txt_wrap .txt em{display: block; font-size: 25px; line-height: 40px; margin-top: 30px; font-weight: 500; color:#222;}
.section05 .txt_wrap .txt em span{border-bottom:1px solid #222;}
.section05 .txt_wrap .txt p{position:relative; font-size: 18px; line-height: 30px; margin-top: 10px; padding-left: 15px; color:#222;}
.section05 .txt_wrap .txt p:before{content:''; position:absolute; left: 0; top: 12px; width:5px; height: 5px; border-radius:50%; background-color: #222;}
.section05 .txt_wrap .txt p:nth-of-type(1){margin-top: 20px;}
.section05 .txt_wrap .txt p span{font-weight: 700;}
.section05.on .txt_wrap{opacity: 1; visibility: visible;}
.section05.on .horizental_wrap{top:0;}
.section05.on .txt_wrap .txt{bottom:0;}
.section05.off .txt_wrap{position:relative; left: 0; top: auto; bottom: 0;}

.section06{position:Relative; height: auto; padding: 100px 0; background-color: #222;}
.section06 h2.main_tit{color:#fff;}
.section06 .txt_wrap{position:relative; display: flex; flex-direction:column; justify-content: center; left: 0; top: 0; width: 100%; height: auto; visibility: visible; opacity: 1; transition:0.5s;}
.section06 .horizental_wrap{position:relative; height: 140px; margin-bottom: 30px; top: 0; transition:0.5s ease-in-out;}
.section06 .horizental_txt{position:absolute; animation: marquee01 20s linear infinite;}
.section06 .horizental_txt:nth-child(1){left: 0; top: 0; width:3347px;}
.section06 .horizental_txt:nth-child(2){right: 0; top: 70px; width:3347px; animation: marquee02 20s linear infinite;}
.section06 .horizental_txt p{float: left; font-size: 70px; color:#fff; font-weight: 500; line-height: 1; margin-right: 10px;}
.section06 .horizental_txt p span{position:Relative;}
.section06 .horizental_txt p span:before{content:''; position:absolute; left: 0; bottom: 0; top:0; margin: auto 0; width: 0; height: 70px; background-color: #fff; transition:0.3s ease-in-out; mix-blend-mode: difference;;}
.section06 .horizental_txt p span.on:before{width: 100%;}
.section06 .horizental_txt p span.over:before{width: 100%;}
.section06 .txt_wrap .inner{display: block; flex-direction:row-reverse;}
.section06 .txt_wrap ul{display: flex; padding-top: 0;}
.section06 .txt_wrap ul li{position:Relative;width: 150px; height: 45px; margin-right: 20px; overflow: hidden;}
.section06 .txt_wrap ul li:last-child{margin-right: 0;}
.section06 .txt_wrap ul li button{display: block; width: 100%; height: 100%; text-align: center; line-height: 43px; font-size: 20px; color:#fff; border: 1px solid #fff; font-weight: 500;}
.section06 .txt_wrap ul li button:before{content:''; position:Absolute; left: 50%; top:50%; transform: translate(-50%,-50%); background-color: #fff; width:0; height:0;transition:0.3s ease-in-out; border-radius:50%; mix-blend-mode: difference;}
.section06 .txt_wrap ul li button:hover:before{width:200px; height: 200px;}
.section06 .txt_wrap ul li.on button:before{width:200px; height: 200px;}
.section06 .txt_wrap .txt{position:Relative; bottom: 0; transition:0.5s ease-in-out; margin-right: 0; margin-top: 40px;}
.section06 .txt_wrap .txt em{display: block; font-size: 25px; line-height: 40px; margin-top: 30px; font-weight: 500; color:#fff;}
.section06 .txt_wrap .txt em span{border-bottom:1px solid #fff;}
.section06 .txt_wrap .txt p{position:relative; font-size: 18px; line-height: 30px; margin-top: 10px; padding-left: 15px; color:#fff;}
.section06 .txt_wrap .txt p:before{content:''; position:absolute; left: 0; top: 12px; width:5px; height: 5px; border-radius:50%; background-color: #fff;}
.section06 .txt_wrap .txt p:nth-of-type(1){margin-top: 20px;}
.section06 .txt_wrap .txt p span{font-weight: 700;}
.section06.on .txt_wrap{opacity: 1; visibility: visible;}
.section06.on .horizental_wrap{top:0;}
.section06.on .txt_wrap .txt{bottom:0;}
.section06.off .txt_wrap{position:relative; left: 0; top: auto; bottom: 0;}

.section07{padding: 100px 0;}
.section07 .tit{position:Relative; text-align: center; top:0; visibility: visible; opacity: 1; transition:0.5s;}
.section07 .tit h2{display: block; font-size: 50px; font-weight: 700; line-height: 1; color:#222;}
.section07 .tit p{font-size: 20px; color:#222; line-height: 1; margin-top: 20px;;}
.section07 .work_list{margin-top: 60px;}
.section07 .work_list ul{display: flex; flex-wrap:wrap; justify-content: space-between;}
.section07 .work_list ul li{position:Relative; width: calc((100% - 20px)/2); margin: 20px 0 0 0; top:0; opacity: 1; visibility: visible; transition:0.3s;}
.section07 .work_list ul li:nth-child(-n + 3){margin-top: 20px;}
.section07 .work_list ul li:nth-child(3n){margin-right: 0;}
.section07 .work_list ul li:nth-child(-n + 2){margin-top: 0;}
.section07 .work_list ul li:nth-child(2n){margin-right: 0;}
.section07 .work_list ul li a{position:relative; display: block;}
.section07 .work_list ul li .img_wrap{position:relative; padding-bottom: 45.21%; overflow: hidden;}
.section07 .work_list ul li .img_wrap img{position:Absolute; left: 0; top: 0; bottom: 0; right: 0; margin: auto; width: auto; height: auto; max-width:100%; max-height:100%; transition:0.3s ease-in-out;}
.section07 .work_list ul li .txt_wrap{position:absolute; display: flex; align-items: center; left: 0; top: 0; width:100%; height: 100%; z-index: 10; background-color: rgba(0,0,0,0.4); visibility: visible; opacity: 1; transition:0.3s;}
.section07 .work_list ul li .txt_wrap .txt{width:100%; padding: 0 50px;}
.section07 .work_list ul li .txt_wrap .txt em{display: block; text-align: center; font-size: 18px; color:#fff; font-weight: 500; line-height: 25px; margin-bottom: 10px;}
.section07 .work_list ul li .txt_wrap .txt p{position:Relative; padding-left: 80px; font-size: 15px; color:#fff; line-height: 22px; margin-bottom: 5px; font-weight: 400;}
.section07 .work_list ul li .txt_wrap .txt p span{position:Absolute; display: block; left: 0; top: 0; line-height:22px; color:#fff; font-weight: 500; }
.section07 .work_list ul li .txt_wrap .txt p:last-child{margin-bottom: 0;}
.section07 .work_list ul li:hover .img_wrap img{transform: scale(1.1);}
.section07 .work_list ul li:hover .txt_wrap{opacity: 1; visibility: visible;}
.section07.on .tit{opacity: 1; visibility: visible; top:0;}
.section07.on .work_list ul li{opacity: 1; top:0; visibility: visible;}

.section08{padding: 100px 0; text-align: center;}
.section08 p{position:Relative; font-size:20px; color:#222;line-height:1; top:0; opacity: 1; visibility: visible; transition:0.3s ease-in-out;}
.section08 em{ position:Relative; display: block; margin-top: 30px;top:0; opacity: 1; visibility: visible; transition:0.3s ease-in-out;}
.section08 .mail a{ display: inline-block; line-height: 1; font-size: 55px; color:#222;font-weight: 500;transition:0.3s ease-in-out;}
.section08 .tel a{display: inline-block; line-height: 1; font-size: 25px; color:#222; font-weight: 500; transition:0.3s ease-in-out;}
.section08 .mail a:hover{transform: scale(1); color:#999}
.section08 .tel a:hover{transform: scale(1); color:#999}
.section08.on p{top:0; opacity: 1; visibility: visible; }
.section08.on .mail{top:0; opacity: 1; visibility: visible; transition-delay:0.2s;}
.section08.on .tel{top:0; opacity: 1; visibility: visible; transition-delay:0.4s;}
@keyframes marquee01 {
  0% {transform:translateX(0); }
  100% {transform:translateX(-50%);}
}
@keyframes marquee02 {
  0% { transform:translateX(0);}
  100% { transform:translateX(50%);}
}


/* .section03 .horizental_txt p:nth-child(1){width:2108px;}
.section03 .horizental_txt p:nth-child(2){width:2555px;} */
}